* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    font-family: 'Noto Sans', sans-serif;
    background-color: darkcyan;
    width: 100%;
    clear: both;
    content: '';
    display: table;
    padding-left: 20px;
}

h1{
    text-align: left;
    font-weight: bold;
    
}

h2{
    text-align: left;
    font-weight: bold;
    color: #303030;
    
}
h3{
    text-align: left;
    font-weight: bold;
    
}

.contenido{
    margin-top: 10px;
    margin-bottom: 15px;
}
menu {
    width: 500px;
    margin 0 auto;

}
nav {
    width: 100%;
    float: right;
    margin-right: 15px;
}
nav ul li {
    list-style: none;
    float: right;
    margin-left: 35px;
    padding: 15px 0;

}
nav ul li a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
}
.sector {
    clear: both;
    height: auto;
    width: 100%;

}
main{
    padding-left: 20px;
}
.icono_lateral{
    width: 50px;
    height: auto;
}

