@media screen and (max-device-width: 697px) {
    .volar_derecha {
        visibility: hidden;
        float: left;
        
    }
    .contenido {
        float: left;
        width: 99%; 

       
   }
   nav {
    width: 100%;
    float: right;
    margin-right: 15px;
}
nav ul li {
    list-style: none;
    text-align: left;
    padding: 5px 0;
    margin-left: 20px;
    width: 100%;

}
nav ul li a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
}
nav ul li a:hover{
    background-color: rgb(56, 82, 82);
}
    footer {
        float: left;
        width: 99%;
        background-color: rgb(3, 102, 69);
    }
    #foto {
        visibility: visible;
        width: 100%;
        height: auto;
        scale: auto;
    }
    main #perfil_sector #perfil_foto {
        width: 100%;
        text-align: center;
    }

}